<div class="container">
    <div class="title">
        <h1>Here is a sample model in Rails</h1>
        <p><em>Hello World!!!</em></p>
    </div>
</div>
<hr>
<div class="container">
    <% @samples.each_with_index do |sample, index| %>
        <div class="sample-text">
            <%= index+1 %>. <%= sample.sample_text %>
        </div>
        <div class="num-value">
            <p><%= sample.num_value %></p>
        </div>
    <% end %>
</div>
