
 * {
    font-family: roboto;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

/* Navigation Bar Styling */

.header {
    background: #322d29;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header img {
    display: block;
    height: 45px;
    float: left;
    padding: 5px;
    margin-left: 10px;
}

.header .navigation ul {
    float: right;
}

.header .navigation ul li {
    display: inline-block;
}

.header .navigation ul li a {
    text-decoration: none;
    display: block;
    list-style: none;
    padding: 10px 20px;
    color: #fff;
}

/* Main content Styling */

body {
    background: url(ortigas-skyline-1166732.jpg);
}

.main {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 100px;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.title h1, p {
    color: #fff;
}

.sample-text, .num-value p {
    color: #fff;
}

.num-value {
    font-style: italic;
}


/* Footer Styling */

.footer {
    bottom: 0;
    left: 0;
    background: #322d29;
    width: 100%;
    position: fixed;
    color: #fff;
    padding: 10px;
}

.footer p {
    text-align: center;
    margin: auto;
    color: #fff;
}

.details ul {
    margin: auto 0;
    width: 100%;
    text-align: center;
}
.details ul li {
    display: inline-block;
}

.details ul li img {
    width: 20px;
}

.details ul li a {
    color: #fff;
    text-decoration: none;
}
